.adminhome {
    margin-top: 100px;
}

.adminhome h1 {
    text-align: center;
    padding: 0;
}

.admin-buttons {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: center;
    margin-top: 200px;
    gap: 100px;
    height: 200px;
}

.admin-buttons button {
    border-radius: 50%;
    margin-top: 0px;
    width: 200px;
    height: 100%;
}

.adminhome a {
    text-decoration: none;
    color: #D9D9D9;
}

.adminhome a:visited {
    text-decoration: none;
    color: #D9D9D9;
}