.forgotPass {
    text-align: center;
    min-height: 400px;
    margin-top: 0;
}

.forgotPass h1 {
    margin-top: 100px;
    text-align: center;
}

.forgotpass-container {
    display: flex;
    flex-flow: column; 
    color: #D9D9D9;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    
}