h1 {
    text-align: left;
    font-weight: 400;
}

.home h1 {
    padding-left: 2%;
}

.logoHome {
    background: linear-gradient(180deg, #111011 0%, rgba(0, 0, 0, 0) 48.16%, #B53030 100%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;   
}

.logoHome img {
    width: 70%;
    position: center;
    margin-top: 100px;
}

.currentlyShowing-container {
    display: flex;
    height: 30%;
    overflow-x: auto;
    flex-flow:row;  
    
}


.currentlyShowing-movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding: 2%;
    width: 100%;
  }

  .comingSoon-movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    padding: 2%;
    width: 100%;
  }
  
  .currentlyShowing-movie img {
    width: 15%;
    position: center;
    margin-top: 20px;
  }

  .comingSoon-movie img {
    width: 15%;
    position: center;
    margin-top: 20px;
  }
  
  .movie-title {
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 20%;
    font-size: 150%;
  }

.currentlyShowing-button {
    width: 90%;
    padding: 20px;
}

.comingSoon-container {
    display: flex;
    height: 30%;
    overflow-x: auto;
    flex-flow:row;  
}

.searchContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: 10% 25% 5%;
    margin-top: 50px;
    margin-bottom: 50px;
   
    
}

.searchType {
    width: 100%;
    height: 100%;
    border: none;
    color: grey;
    padding-left: 10px;
}

.searchBar {
    align-self: center;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    padding-left: 20px;

}

.searchButton {
    border-radius: 0;
    color: white;
    padding: 0;
    align-self: center;
    height: 100%;
    width: 50px;
    margin: 0;
    background-color: #B53030;
    border: none;
    margin-left: 20px;
}


