h1 {
    text-align: center;
}

.currentlyShowing-container {
    display: flex;
    justify-content: space-around;
}
.currentlyShowing-movie {
    display: flex;
    height: 500px;
}

.comingSoon-container {
    display: flex;
    justify-content: space-around;
}
.comingSoon-movie {
    display: flex;
    height: 500px;
}