.tickets {
    margin-top: 100px;
}

.tickets h1 {
    text-align: center;
}

.tickets h2 {
    text-align: center;
}

.tickets h4 {
    padding-left: 200px;
}

.ticket {
    background: #D9D9D9;
    border-radius: 27px;
    height: 200px;
    width: 600px;
    color: #101011;
    margin: auto;
    text-align: left;
}

.ticket img {
    float: left;
    height: 180px;
    width: 180px;
    border-radius: 28px;
    margin-top: 10px;
    margin-left: 10px;
}