.tickets {
    margin-top: 100px;
}

.tickets h1 {
    text-align: center;
}

.tickets h2 {
    padding-top: 10px;
    text-align: center;
}

.ticket h4 {
    display: inline-block;
}

.ticket-date {
    padding-left: 20px;
}

.ticket-time {
    padding-left: 10px;
}

.ticket-age {
    float: right;
    padding-right: 20px;
}

.ticket-seat {
    width: 70%;
    padding-left: 20px;
    padding-top: 20px;
}

.ticket {
    background: #D9D9D9;
    border-radius: 27px;
    height: 200px;
    width: 600px;
    color: #101011;
    margin: auto;
    text-align: left;
}

.ticket img {
    float: left;
    height: 180px;
    width: auto;
    border-radius: 28px;
    margin-top: 10px;
    margin-left: 10px;
}